@charset "UTF-8";
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 85%;
  max-width: 1224px;
  margin: 0 auto;
}

.wrapper_sm {
  width: 72%;
  max-width: 1039px;
  margin: 0 auto;
}

.section_title {
  margin: 0 auto;
  text-align: center;
}
.section_title_main {
  font-family: "Avenir", sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.page-section_main_title {
  font-family: "Avenir", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.page-section_sub_title {
  font-size: 13px;
}

.not_found {
  margin-top: 135px;
  margin-bottom: 120px;
}
.not_found_text {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 1.75;
}

.mv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: -20;
}
.mv_copy {
  position: absolute;
  display: inline-block;
  font-size: clamp(28px, 2.6vw, 36px);
  font-weight: 600;
  background-color: #fff;
  bottom: 21%;
  left: 8.4%;
  padding: 0.25em 0.75em;
}
.mv_image {
  width: 85.5%;
  object-fit: cover;
  object-position: top 20px;
}

.concept {
  width: 100%;
  position: relative;
  margin-top: -40px;
}
.concept::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F4F4F4;
  z-index: -10;
}
.concept_inner {
  display: flex;
  justify-content: space-between;
  background-color: #F4F4F4;
  padding: 70px 0;
}
.concept_textarea {
  width: 38%;
  margin-left: 2%;
}
.concept_maincopy {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.67;
  letter-spacing: 0.1em;
  margin-bottom: 35px;
  white-space: nowrap;
}
.concept_subcopy {
  line-height: 2em;
  font-size: clamp(14px, 1.2vw, 16px);
  text-align: justify;
  margin-bottom: 50px;
}
.concept .button {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1em 2.25em;
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 600;
  border-radius: 999px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  position: relative;
  max-width: 346px;
  min-width: 264px;
  font-size: clamp(16px, 1.3vw, 18px);
  font-weight: 400;
}
.concept .button::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #fff;
  width: clamp(16px, 2.8vw, 33px);
  height: 1px;
  right: 2em;
  top: 50%;
  transform: translateX(9%) translateY(50%);
}
.concept .button::after {
  position: absolute;
  content: "";
  border-top: 1px solid #fff;
  width: 5px;
  height: 5px;
  right: 2em;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.concept_map {
  width: 49%;
  margin-right: 5%;
  object-fit: contain;
}

.plan {
  margin-top: 125px;
  width: 100%;
}
.plan_summary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 60px;
}
.plan_summary_textarea {
  width: 30%;
  margin-top: 65px;
  margin-left: 7.5%;
  margin-right: unset;
}
.plan_summary_title {
  font-size: clamp(22px, 2.2vw, 30px);
  font-weight: 600;
  line-height: 1.67;
  margin-bottom: 50px;
}
.plan_summary_text {
  line-height: 2em;
  font-size: clamp(14px, 1.2vw, 16px);
  margin-bottom: 40px;
}
.plan_summary_image {
  width: 56%;
  object-fit: contain;
}
.plan_summary .button {
  display: block;
  background-color: #D4FF45;
  color: #000;
  padding: 1em 2.25em;
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 600;
  border-radius: 999px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  position: relative;
  max-width: 346px;
  min-width: 264px;
  font-size: clamp(16px, 1.3vw, 18px);
  font-weight: 400;
}
.plan_summary .button::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #000;
  width: clamp(16px, 2.8vw, 33px);
  height: 1px;
  right: 2em;
  top: 50%;
  transform: translateX(9%) translateY(50%);
}
.plan_summary .button::after {
  position: absolute;
  content: "";
  border-top: 1px solid #000;
  width: 5px;
  height: 5px;
  right: 2em;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.plan_summary:nth-child(odd) {
  flex-direction: row-reverse;
}
.plan_summary:nth-child(odd) .plan_summary_textarea {
  margin-right: 7.5%;
  margin-left: unset;
}

.office {
  margin-top: 170px;
  position: relative;
}
.office_button_block {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 40px;
  right: 50%;
  transform: translateX(50%);
}
.office_button_block .back_button,
.office_button_block .front_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(48px, 4.9vw, 68px);
  height: clamp(48px, 4.9vw, 68px);
  border: solid 1px #000;
  border-radius: 999px;
  margin-left: 10px;
  position: relative;
}
.office_button_block .back_button::after,
.office_button_block .front_button::after {
  position: absolute;
  content: "";
  border: 1px solid #000;
  width: clamp(8px, 0.8vw, 10px);
  height: clamp(8px, 0.8vw, 10px);
  border-top: 0;
  border-left: 0;
  transform: rotate(-45deg);
}
.office_button_block .back_button::after {
  transform: rotate(135deg);
}
.office_introduction {
  display: flex;
  margin-top: 50px;
  overflow-x: auto;
  width: 92.5vw;
  max-width: 1331px;
  margin-right: 0;
  margin-left: 7.5%;
}
.office_introduction_card {
  text-align: center;
  margin-right: 20px;
}
.office_introduction_card:last-child {
  margin-right: 0;
  padding-right: 7.5%;
}
.office_introduction_image {
  width: clamp(400px, 40vw, 560px);
  margin-bottom: 40px;
}
.office_introduction_title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.service {
  padding-top: 90px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 85px;
  padding-bottom: 160px;
}
.service::after {
  position: absolute;
  content: "";
  background-image: url(../image/logo-gray.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 45%;
  height: 300px;
  right: 0;
  top: 0;
  z-index: -10;
}
.service_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 68%;
  gap: 30px 0;
  max-width: 940px;
  margin: 0 auto;
  margin-top: 70px;
}
.service_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  min-width: 134px;
}
.service_image {
  width: 60px;
  height: auto;
  margin-bottom: 22px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  transform-origin: top;
  transition: 0.5s top;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 1368px;
  margin: 0 auto;
}
.header_logo {
  background-image: url(../image/header-logo-lg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 17%;
  height: 100px;
  margin-top: 25px;
}
.header_nav {
  display: flex;
  height: fit-content;
  width: 80%;
  justify-content: flex-end;
}
.header_list {
  display: flex;
}
.header_list li a {
  display: block;
  padding: 1.38em clamp(0.8em, 1.8vw, 1.56em);
  font-size: clamp(14px, 1.2vw, 16px);
  white-space: nowrap;
}
.header .button {
  display: block;
  background-color: #D4FF45;
  color: #000;
  padding: 1em 2.25em;
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 600;
  border-radius: 999px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  position: relative;
  max-width: 182px;
  min-width: 150px;
  letter-spacing: 0.16em;
  text-align: unset;
  margin: auto 0;
  margin-left: 2%;
}
.header .button::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #000;
  width: clamp(16px, 2.8vw, 33px);
  height: 1px;
  right: 2em;
  top: 50%;
  transform: translateX(9%) translateY(50%);
}
.header .button::after {
  position: absolute;
  content: "";
  border-top: 1px solid #000;
  width: 5px;
  height: 5px;
  right: 2em;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.page-header.header,
.scroll_on.header {
  background-color: #fff;
}
.page-header .header_inner,
.scroll_on .header_inner {
  align-items: center;
}
.page-header .header_logo,
.scroll_on .header_logo {
  background-image: url(../image/header-logo-sm.png);
  width: 20%;
  height: 42px;
  margin-top: unset;
}
.page-header .header_list li a,
.scroll_on .header_list li a {
  padding: 2.18em clamp(0.8em, 1.8vw, 1.56em) 1.88em;
}

.hide .header {
  top: -100px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 140px;
  background-image: url(../image/contact-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contact .button.reserve {
  display: block;
  background-color: #D4FF45;
  color: #000;
  padding: 1em 2.25em;
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 600;
  border-radius: 999px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  position: relative;
  max-width: 510px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.87em;
  margin-bottom: 32px;
}
.contact .button.reserve::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #000;
  width: clamp(16px, 2.8vw, 33px);
  height: 1px;
  right: 2em;
  top: 50%;
  transform: translateX(9%) translateY(50%);
}
.contact .button.reserve::after {
  position: absolute;
  content: "";
  border-top: 1px solid #000;
  width: 5px;
  height: 5px;
  right: 2em;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}
.contact .button.inquiry {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1em 2.25em;
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 600;
  border-radius: 999px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  position: relative;
  max-width: 510px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.87em;
}
.contact .button.inquiry::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #fff;
  width: clamp(16px, 2.8vw, 33px);
  height: 1px;
  right: 2em;
  top: 50%;
  transform: translateX(9%) translateY(50%);
}
.contact .button.inquiry::after {
  position: absolute;
  content: "";
  border-top: 1px solid #fff;
  width: 5px;
  height: 5px;
  right: 2em;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.footer {
  background-color: #000;
  color: #fff;
  font-size: clamp(14px, 1.2vw, 16px);
}
.footer_inner {
  display: flex;
  padding-top: 85px;
  padding-bottom: 65px;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_image_link {
  width: 17%;
}
.footer_image {
  width: 100%;
  object-fit: contain;
  margin-right: 30px;
}
.footer_info {
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}
.footer_info .address {
  line-height: 1.56;
  margin-bottom: 20px;
}
.footer_info .tel_number {
  margin-bottom: 10px;
}
.footer_list {
  display: flex;
  flex-wrap: wrap;
}
.footer_list li a {
  margin-left: 45px;
  white-space: nowrap;
  line-height: 1.75em;
}
.footer .copylight {
  text-align: center;
  padding-bottom: 1em;
  font-family: "Avenir", sans-serif;
  font-size: clamp(10px, 1vw, 14px);
}

.mv_temp {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: -20;
}
.mv_temp_title {
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  bottom: -36px;
  left: 0;
  background-color: #F4F4F4;
  width: 40%;
  padding-top: 58px;
  padding-bottom: 58px;
  padding-left: 10.8%;
}
.mv_temp_title_inner {
  padding-bottom: 24px;
  position: relative;
}
.mv_temp_title_inner::after {
  position: absolute;
  content: "";
  border-bottom: 3px solid #000;
  height: 3px;
  width: 40px;
  left: 0;
  bottom: 0;
}
.mv_temp_image {
  width: 86%;
}

.page-others .service_container {
  width: 80%;
  margin-bottom: 80px;
}
.page-others .button {
  display: block;
  background-color: #D4FF45;
  color: #000;
  padding: 1em 2.25em;
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 600;
  border-radius: 999px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  position: relative;
  max-width: 510px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.87em;
  margin: 0 auto;
  display: none;
}
.page-others .button::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #000;
  width: clamp(16px, 2.8vw, 33px);
  height: 1px;
  right: 2em;
  top: 50%;
  transform: translateX(9%) translateY(50%);
}
.page-others .button::after {
  position: absolute;
  content: "";
  border-top: 1px solid #000;
  width: 5px;
  height: 5px;
  right: 2em;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.page-facility {
  margin-top: 135px;
}
.page-facility_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 70px;
}
.page-facility_card {
  width: 32%;
  margin-bottom: 65px;
}
.page-facility_image {
  width: 100%;
}
.page-facility_image_title {
  font-weight: 600;
  margin-top: 14px;
}

.free_only {
  display: none;
}

.wp-pagenavi {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 120px;
}

.pages {
  display: none;
}

.current,
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  width: 45px;
  height: 45px;
}

.current {
  background-color: #000;
  color: #fff;
}

.page {
  border-color: #000 !important;
}

.nextpostslink,
.previouspostslink {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  border: unset !important;
}
.nextpostslink::before,
.previouspostslink::before {
  position: absolute;
  content: "次のページ";
  right: 20px;
  width: 85px;
  transform: translateY(5%);
}

.nextpostslink {
  right: 0;
}
.nextpostslink:before {
  content: "次のページ";
}

.previouspostslink {
  left: 0;
}
.previouspostslink:before {
  left: 20px;
  content: "前のページ";
}

.company-block {
  margin-top: 130px;
}
.company-block .wp-block-table {
  margin-top: 65px;
}
.company-block .wp-block-table table {
  width: 70%;
}
.company-block .wp-block-table td {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #F4F4F4;
}
.company-block .wp-block-table td:first-child {
  width: 35%;
}
.company-block .wp-block-table tr:first-child td {
  padding-top: unset;
}

.access-block {
  margin-top: 145px;
}
.access-block_textarea {
  margin-top: 40px;
  margin-bottom: 60px;
}
.access-block_textarea_address {
  margin-bottom: 12px;
}
.access-block_textarea_address:last-child {
  margin-bottom: unset;
}
.access-block iframe {
  width: 100%;
  aspect-ratio: 1039/520;
  height: auto;
}

.locations-block {
  margin-top: 155px;
  margin-bottom: 160px;
}
.locations-block_container {
  margin-top: 40px;
}
.locations-block_card {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.locations-block_card:last-child {
  margin-bottom: unset;
}
.locations-block_card .wp-block-image {
  width: 31%;
  margin: unset;
  object-fit: contain;
}
.locations-block_card_textarea {
  margin-left: 7%;
}
.locations-block_card_title {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 25px;
}
.locations-block_card_address {
  margin-bottom: 12px;
  padding-left: 25px;
  position: relative;
}
.locations-block_card_address::before {
  position: absolute;
  content: "";
  background-image: url(../image/locations_icon.svg);
  width: 12px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 0;
  left: 0;
}
.locations-block_card_tel {
  padding-left: 25px;
  position: relative;
}
.locations-block_card_tel::before {
  position: absolute;
  content: "";
  background-image: url(../image/tel_icon.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 0;
  left: 0;
  transform: translateX(-15%);
}

.page-plan {
  margin-top: 136px;
}
.page-plan_copy {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 65px;
}
.page-plan_text {
  width: 100%;
  position: relative;
}
.page-plan_text::after {
  position: absolute;
  content: "";
  background-image: url(../image/private_plan.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 65%;
  height: auto;
  aspect-ratio: 674/396;
  top: 0;
  right: -19.5%;
}
.page-plan_text_inner {
  font-size: 20px;
  line-height: 2em;
  letter-spacing: 0;
  text-align: justify;
  width: 48%;
}
.page-plan_price {
  padding-top: 85px;
  position: relative;
}
.page-plan_price::after {
  position: absolute;
  z-index: -20;
  content: "";
  background-color: #F5F5F5;
  width: 75%;
  height: 1227px;
  top: 0;
  right: -19.5%;
}
.page-plan_table {
  margin-top: 40px;
}
.page-plan_table td {
  padding-bottom: 45px;
}
.page-plan_table td:first-child {
  width: 50%;
}
.page-plan_table tr:last-child td {
  padding-bottom: unset;
}

.page-individual {
  margin-top: 165px;
}
.page-individual_copy {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.page-individual_container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.page-individual_card {
  width: 47%;
  aspect-ratio: 488/287;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.page-individual_card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.page-individual_card.single {
  background-image: url(../image/single_office_plan.png);
}
.page-individual_card.free {
  background-image: url(../image/free_office_plan.png);
}
.page-individual_card_plan {
  position: absolute;
  font-family: "Avenir", sans-serif;
  top: 24%;
  left: 16%;
}
.page-individual_card_plan::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #707070;
  bottom: -50%;
  left: 50%;
  width: 100%;
  height: 1px;
  transform: rotate(-26deg);
}
.page-individual_card_copy {
  margin-bottom: 12px;
}
.page-individual_card_title {
  font-size: 22px;
  font-weight: 600;
}

.single.page-plan,
.free.page-plan {
  position: relative;
  padding-top: 55px;
}
.single.page-plan::before,
.free.page-plan::before {
  position: absolute;
  content: "";
  background-color: #F5F5F5;
  width: 65%;
  top: 0;
  left: 0;
  z-index: -20;
}
.single .page-plan_price::after,
.free .page-plan_price::after {
  content: unset;
}

.page-plan_number {
  font-family: "Avenir", sans-serif;
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 45px;
  position: relative;
}
.page-plan_number::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid #707070;
  width: 130px;
  height: 1px;
  bottom: -50%;
  left: 3%;
  transform: rotate(-26deg);
}

.single.page-plan {
  margin-top: 230px;
}
.single.page-plan::before {
  height: 1325px;
}
.single .page-plan_text::after {
  background-image: url(../image/single_office.png);
}
.single .button {
  display: block;
}

.free.page-plan {
  margin-top: 140px;
}
.free.page-plan::before {
  height: 110%;
}
.free .page-plan_text::after {
  background-image: url(../image/free_office.png);
}
.free .page-facility {
  margin-top: 150px;
}
.free .page-facility_container {
  margin-bottom: 85px;
}
.free .page-facility_card,
.free .page-section_main_title,
.free .page-section_sub_title {
  display: none;
}
.free .free_only,
.free .both {
  display: block;
}

.page-user_textarea {
  margin-top: 130px;
  margin-bottom: 40px;
}
.page-user_copy {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 60px;
}
.page-user_text {
  font-size: 20px;
  line-height: 2em;
  letter-spacing: 0;
  text-align: justify;
}
.page-user_post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page-user_card {
  width: 47%;
  margin-bottom: 115px;
}
.page-user_card_link {
  display: block;
}
.page-user_card_image {
  width: 100%;
  object-fit: contain;
}
.page-user_card_title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}
.page-user_card h2 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.75em;
  text-align: justify;
}

.page-contact {
  margin-top: 160px;
}
.page-contact input[name=tab_item] {
  display: none;
}
.page-contact .tab_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 70px;
  float: left;
  border: 1px #A7A7A7 solid;
  color: #6C6B6C;
  background-color: #fff;
  font-weight: bold;
}
.page-contact input:checked + .tab_item {
  background-color: #000;
  color: #fff;
  border: unset;
  position: relative;
}
.page-contact input:checked + .tab_item::after {
  position: absolute;
  content: "";
  background-image: url(../image/triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 42px;
  height: 10px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

.reserve_block {
  display: none;
  background-color: #F5F5F5;
  padding-top: 160px;
  padding-bottom: 130px;
  margin-bottom: 120px;
}
.reserve_block_title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 85px;
}

.reserve_form {
  width: 66%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reserve_form_parts {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}
.reserve_form_parts input[type=text],
.reserve_form_parts input[type=email],
.reserve_form_parts input[type=tel],
.reserve_form_parts input[type=date],
.reserve_form_parts select,
.reserve_form_parts textarea {
  padding: 1em;
  background-color: #fff;
}
.reserve_form_parts input[type=text],
.reserve_form_parts input[type=email],
.reserve_form_parts input[type=tel] {
  width: 50%;
}
.reserve_form_parts input[type=text]::placeholder,
.reserve_form_parts input[type=email]::placeholder,
.reserve_form_parts input[type=tel]::placeholder {
  color: #BEBBBB;
}
.reserve_form_parts input[type=date] {
  width: 250px;
  margin-right: 10px;
}
.reserve_form_parts .select_inner {
  position: relative;
  width: fit-content;
  height: 100%;
}
.reserve_form_parts .select_inner::after {
  position: absolute;
  content: "";
  border: 1px solid #000;
  border-left: 0;
  border-top: 0;
  width: 6px;
  height: 6px;
  transform: rotate(45deg) translateX(-50%);
  top: 50%;
  right: 10px;
}
.reserve_form_parts select {
  width: 100px;
}
.reserve_form_parts.corporate input[type=text] {
  width: 100%;
}
.reserve_form_parts textarea {
  width: 100%;
}
.reserve_form_parts input[type=radio] {
  margin-right: 10px;
}
.reserve_form_parts_box {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.reserve_form_parts_box:last-child {
  margin-bottom: unset;
}
.reserve_form_parts .date_label {
  margin-right: 18px;
}
.reserve_form_parts_title {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 20px;
  width: fit-content;
}
.reserve_form_parts .radio_box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.reserve_form_parts .radio_box:last-child {
  margin-bottom: unset;
}
.reserve_form_parts .radio_box .privacy {
  font-weight: 600;
  letter-spacing: 0;
}
.reserve_form_parts.privacy {
  margin: 0 auto;
  margin-bottom: 90px;
}
.reserve_form_parts input[type=checkbox] {
  margin-right: 10px;
}
.reserve_form_submit {
  display: flex;
  justify-content: center;
}
.reserve_form_submit .button {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1em 2.25em;
  font-size: clamp(14px, 1.2vw, 16px);
  font-weight: 600;
  border-radius: 999px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  position: relative;
  max-width: 346px;
  min-width: 264px;
  font-size: clamp(16px, 1.3vw, 18px);
  font-weight: 400;
}
.reserve_form_submit .button::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid #fff;
  width: clamp(16px, 2.8vw, 33px);
  height: 1px;
  right: 2em;
  top: 50%;
  transform: translateX(9%) translateY(50%);
}
.reserve_form_submit .button::after {
  position: absolute;
  content: "";
  border-top: 1px solid #fff;
  width: 5px;
  height: 5px;
  right: 2em;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.privacy_policy_link {
  text-align: center;
  font-size: 14px;
  text-decoration: underline;
}

.required .reserve_form_parts_title {
  position: relative;
}
.required .reserve_form_parts_title::after {
  position: absolute;
  content: "必須";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #B12626;
  font-size: 12px;
  font-weight: bold;
  width: 42px;
  height: 16px;
  right: 0;
  top: 0;
  transform: translateX(calc(100% + 10px));
}

#reserve:checked ~ #reserve_block,
#contact:checked ~ #contact_block {
  display: block;
}

.page-policy {
  line-height: 1.75;
  letter-spacing: 0;
  text-align: justify;
  margin-bottom: 100px;
}
.page-policy h2 {
  margin-top: 130px;
  font-size: 24px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
  font-weight: 600;
}
.page-policy h3 {
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
