@use "../setting/color";
@use "../setting/function";

.page-facility{
    margin-top: 135px;

    &_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 65px;
        margin-bottom: 70px;
    }

    &_card{
        width: 32%;
        margin-bottom: 65px;
    }

    &_image{
        width: 100%;

        &_title{
            font-size: clamp(12px,1.2vw,16px);
            font-weight: 600;
            margin-top: 14px;
        }
    }
}

.free_only{
    display: none;
}