@use "../mixin/btn";
@use "../setting/color";
@use "../setting/function";

// ヘッダー
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    transform-origin: top;
    transform: scale(1,1);
    transition: .5s transform;

    &_inner{
        display: flex;
        justify-content: space-between;
        width: 95%;
        max-width: 1368px;
        margin: 0 auto;
    }

    &_logo{
        background-image: url(../image/header-logo-lg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 17%;
        height: 100px;
        margin-top: 25px;
    }

    &_nav{
        display: flex;
        height: fit-content;
        width: 80%;
        justify-content: flex-end;
    }

    &_list{
        display: flex;

        li a{
            display: block;
            padding: 1.38em clamp(.8em, 1.8vw, 1.56em);
            font-size: clamp(14px,1.2vw,16px);
            white-space: nowrap;
        }
    }

    .button{
        @include btn.btn('header');
        margin: auto 0;
        margin-left: 2%;
    }
}

.scroll_on{
    &.header{
        background-color: color.$white;
    }

    .header_inner{
        align-items: center;
    }

    .header_logo{
        background-image: url(../image/header-logo-sm.png);
        width: 20%;
        height: 42px;
        margin-top: unset;
    }

    .header_list li a{
        padding: 1.5em clamp(.8em, 1.8vw, 1.56em);
    }
}

.hide{
    .header{
        transform: scale(1,0);
    }
}