@use "../setting/color";
@use "../setting/function";

.mv_temp{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: -20;

    &_title{
        font-size: 30px;
        font-weight: 600;
        position: absolute;
        bottom: -36px;
        left: 0;

        background-color: color.$main-color;
        width: 40%;
        padding-top: 58px;
        padding-bottom: 58px;
        padding-left: 10.8%;

        &_inner{
            padding-bottom: 24px;
            position: relative;

            &::after{
                position: absolute;
                content: "";
                border-bottom: 3px solid color.$base-color;
                height: 3px;
                width: 40px;
                left: 0;
                bottom: 0;
            }
        }
    }

    &_image{
        width: 86%;

    }
}