@use "../base/base";
@use "../setting/color";
@use "../setting/function";

.wp-pagenavi{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 120px;
}

.pages{
    display: none;
}

.current,
.page{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    width: 45px;
    height: 45px;
}

.current{
    background-color: color.$base-color;
    color: color.$white;
}

.page{
    border-color: color.$base-color!important;
}

.nextpostslink,
.previouspostslink{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    border: unset!important;

    &::before{
        position: absolute;
        content: "次のページ";
        right: 20px;
        width: 85px;
        transform: translateY(5%);
    }
}

.nextpostslink{
    right: 0;

    &:before{
        content: "次のページ";
    }
}

.previouspostslink{
    left: 0;

    &:before{
        left: 20px;
        content: "前のページ";
    }
}