@use "../base/base";
@use "../setting/color";
@use "../setting/function";

.page-user{
    &_textarea{
        margin-top: 130px;
        margin-bottom: 40px;
    }

    &_copy{
        font-size: clamp(26px,2.2vw,30px);
        font-weight: bold;
        margin-bottom: 60px;
    }

    &_text{
        font-size: clamp(16px,1.5vw,20px);
        line-height: 2em;
        letter-spacing: 0;
        text-align: justify;
    }

    &_post{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &_card{
        width: 47%;
        margin-bottom: 115px;
        font-size: clamp(14px,1.3vw,16px);

        &_link{
            display: block;
        }

        &_image{
            width: 100%;
            object-fit: contain;
        }

        &_title{
            font-size: clamp(18px,1.8vw,24px);
            font-weight: 600;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        h2{
            margin-top: 15px;
            font-size: clamp(16px,1.5vw,20px);
            font-weight: 600;
            line-height: 1.75em;
            text-align: justify;
        }
    }
}

