@use "../base/base";
@use "../setting/color";
@use "../setting/function";

.page-plan{
    margin-top: 136px;

    &_copy{
        font-size: clamp(26px,2.2vw,30px);
        font-weight: 600;
        margin-bottom: 65px;
    }

    &_text{
        width: 100%;
        position: relative;

        &::after{
            position: absolute;
            content: "";
            background-image: url(../image/private_plan.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 65%;
            height: auto;
            aspect-ratio: 674/396;

            top: 0;
            right: -19.5%;
        }

        &_inner{
            font-size: clamp(16px,1.5vw,20px);
            line-height: 2em;
            letter-spacing: 0;
            text-align: justify;
            width: 48%;
        }
    }

    &_price{
        padding-top: 85px;
        position: relative;

        &::after{
            position: absolute;
            z-index: -20;
            content: "";
            background-color: color.$sub-gray;
            width: 75%;
            height: 1227px;
            top: 0;
            right: -19.5%;
        }
    }

    &_table{
        margin-top: 40px;

        td{
            padding-bottom: 45px;

            &:first-child{
                width: 50%;
            }
        }

        tr:last-child td{
            padding-bottom: unset;
        }
    }
}