@use "../setting/color";
@use "../setting/function";


$initType: 'normal';
@mixin btn($type:$initType ,$btn-color: color.$sub-color ,$text-color: color.$base-color){
    display: block;
    background-color: $btn-color;
    color: $text-color;
    padding: 1em 2.25em;
    font-size: clamp(14px,1.2vw,16px);
    font-weight: 600;
    border-radius: 999px;
    text-align: center;
    white-space: nowrap;
    width: 100%;

    position: relative;

    // TODO: 疑似要素は後で画像で入れる
    &::before{
        position: absolute;
        content: "";
        border-bottom: 1px solid $text-color;
        width: clamp(16px,2.8vw,33px);
        height: 1px;
        right: 2em;
        top: 50%;
        transform: translateX(9%) translateY(50%);
    }

    &::after{
        position: absolute;
        content: "";
        border-top: 1px solid $text-color;
        width: 5px;
        height: 5px;
        right: 2em;
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
    }

    &:hover{
        &::before,
        &::after{
            right: .8em;
            transition: .3s right;
        }
    }

    @if( $type == 'normal' ){
        max-width: 346px;
        min-width: 264px;
        font-size: clamp(16px,1.3vw,18px);
        font-weight: 400;
    }

    @else if( $type == 'header' ){
        max-width: 182px;
        min-width: 150px;
        letter-spacing: .16em;
        text-align: unset;
    }

    @else if( $type == 'contact' ){
        max-width: 510px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1.87em;

        &::before,
        &::after{
            right: 9em;
            transition: .3s right;
        }

        &:hover{
            &::before,
            &::after{
                right: 5em;
            }
        }
    }

}