@use "../setting/color";
@use "../setting/function";


// 共通パーツ
body{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    color: color.$base-color;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .05em;
}

html {
    scroll-behavior: smooth;
}

.wrapper{
    width: 85%;
    max-width: 1224px;
    margin: 0 auto;
}

.wrapper_sm{
    width: 72%;
    max-width: 1039px;
    margin: 0 auto;
}


// セクションの見出し
.section_title{
    margin: 0 auto;
    text-align: center;

    &_main{
        font-family: "Avenir", sans-serif;
        font-size: 50px;
        font-weight: 600;
    }
}

// 固定ページの見出しと小見出し
.page-section_main_title{
    font-family: "Avenir", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.page-section_sub_title{
    font-size: 13px;
}

// 404NotFound

.not_found{
    margin-top: 135px;
    margin-bottom: 120px;

    &_text{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        line-height: 1.75;
    }
}